@media screen and (max-width: 400px) {
  .priceTable {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
  }
  #content {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 400px) {
  .priceTable {
    margin: auto;
    width: 400px;
    box-sizing: border-box;
  }
  #content {
    width: 600px;
    margin: auto;
  }
}
.searchBar input,
.searchBar button,
.searchBar select {
  font-size: 16px;
  font-family: "microsoft yahei";
}
.productList .table {
  margin: 5px 0;
  border: 1px solid;
  width: 100%;
  height: 180px;
}
.productList .table .img {
  vertical-align: top;
  display: inline-block;
  width: 45%;
  height: 180px;
}
.productList .table .detail {
  display: inline-block;
  width: 55%;
  font-size: 12px;
}
.productList .table .detail div {
  line-height: 20px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.productList .table .detail .series {
  height: 20px;
}
.productList .table .detail .name {
  height: 40px;
}
.productList .table .detail .price {
  height: 40px;
}
.productList .table .detail .intro {
  height: 80px;
  border-bottom: none;
}
